{{#section 'stylesheet'}}
<link rel="stylesheet" href="/css/messagebox.css">
<link rel="stylesheet" href="/css/options.css">
{{/section}}

<div class="main grid">
    <div class="message-box__select">
        <h2 class="message-box__header">Tin nhắn</h2>
        <ul class="message-box__list">
            {{#each userMessageBoxes}}
            <li class="message-box__item" targetId="{{this.target.userId}}" messageBoxId="{{this.messageBoxId}}">
                <img src="/img/monleo.jpg" alt="" class="massage-in__img">
                <div class="message-box__item-content">
                    <h3 class="message-box__item-heading">
                        {{!-- {{#if this.connectionType}}
                        Đoán xem
                        {{else}}
                        {{this.target.fName}}
                        {{/if}} --}}
                        {{this.target.fName}}
                    </h3>
                    <p class="message-box__item-last-message"></p>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="message-box__chat">
        <div class="message-box__chat__head">
            <img src="/img/monleo.jpg" alt="" class="head__img">
            <span class="head__name"></span>
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M17.1211 11.3594L15.6094 10.5156C15.7852 9.67188 15.7852 8.86328 15.6094 8.01953L17.1211 7.17578C17.2969 7.07031 17.3672 6.85938 17.2969 6.68359C16.9102 5.41797 16.2422 4.29297 15.3984 3.34375C15.2578 3.20312 15.0469 3.16797 14.8711 3.27344L13.3594 4.11719C12.7266 3.58984 12.0234 3.16797 11.25 2.88672V1.16406C11.25 0.988281 11.1094 0.8125 10.8984 0.777344C9.59766 0.460938 8.29688 0.496094 7.06641 0.777344C6.85547 0.8125 6.75 0.988281 6.75 1.16406V2.88672C5.94141 3.16797 5.23828 3.58984 4.60547 4.15234L3.09375 3.27344C2.91797 3.16797 2.70703 3.20312 2.56641 3.34375C1.72266 4.29297 1.05469 5.41797 0.667969 6.68359C0.597656 6.85938 0.667969 7.07031 0.84375 7.17578L2.35547 8.01953C2.21484 8.86328 2.21484 9.67188 2.35547 10.5156L0.84375 11.3594C0.667969 11.4648 0.597656 11.6758 0.667969 11.8516C1.05469 13.1172 1.72266 14.2422 2.56641 15.1914C2.70703 15.332 2.91797 15.3672 3.09375 15.2617L4.60547 14.418C5.23828 14.9453 5.94141 15.3672 6.75 15.6484V17.3711C6.75 17.5469 6.89062 17.7227 7.06641 17.793C8.36719 18.0742 9.66797 18.0391 10.8984 17.793C11.1094 17.7227 11.25 17.5469 11.25 17.3711V15.6484C12.0234 15.3672 12.7266 14.9453 13.3594 14.418L14.8711 15.2617C15.0469 15.3672 15.2578 15.332 15.3984 15.1914C16.2773 14.2422 16.9102 13.1172 17.332 11.8516C17.3672 11.6758 17.2969 11.4648 17.1211 11.3594ZM9 12.0625C7.41797 12.0625 6.1875 10.832 6.1875 9.25C6.1875 7.70312 7.41797 6.4375 9 6.4375C10.5469 6.4375 11.8125 7.70312 11.8125 9.25C11.8125 10.832 10.5469 12.0625 9 12.0625Z"
                    fill="black" />
            </svg>
        </div>
        <div class="message-box__chat__main">
        </div>
        <div class="message-box__chat__action">
            <svg class="action__img" width="18" height="23" viewBox="0 0 18 23" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M17.25 5.99219C17.25 5.73438 17.1211 5.47656 16.9062 5.26172L12.7383 1.09375C12.5234 0.878906 12.2656 0.75 12.0078 0.75H11.75V6.25H17.25V5.99219ZM11.4062 7.625C10.8047 7.625 10.375 7.19531 10.375 6.59375V0.75H1.78125C1.17969 0.75 0.75 1.22266 0.75 1.78125V21.7188C0.75 22.3203 1.17969 22.75 1.78125 22.75H16.2188C16.7773 22.75 17.25 22.3203 17.25 21.7188V7.625H11.4062ZM5.5625 8.3125C6.72266 8.3125 7.625 9.25781 7.625 10.375C7.625 11.5352 6.72266 12.4375 5.5625 12.4375C4.44531 12.4375 3.5 11.5352 3.5 10.375C3.5 9.25781 4.44531 8.3125 5.5625 8.3125ZM14.5 18.625H3.5L3.54297 16.5625L5.21875 14.8438C5.43359 14.6719 5.73438 14.6719 5.94922 14.8867L7.625 16.5625L12.0938 12.1367C12.2656 11.9219 12.6094 11.9219 12.8242 12.1367L14.5 13.8125V18.625Z"
                    fill="#FF0000" />
            </svg>
            <svg class="action__emoji" width="22" height="22" viewBox="0 0 22 22" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.34375 10.75C0.34375 16.6367 5.11328 21.4062 11 21.4062C16.8867 21.4062 21.6562 16.6367 21.6562 10.75C21.6562 4.86328 16.8867 0.09375 11 0.09375C5.11328 0.09375 0.34375 4.86328 0.34375 10.75ZM8.9375 8.6875C8.9375 9.46094 8.29297 10.0625 7.5625 10.0625C6.78906 10.0625 6.1875 9.46094 6.1875 8.6875C6.1875 7.95703 6.78906 7.3125 7.5625 7.3125C8.29297 7.3125 8.9375 7.95703 8.9375 8.6875ZM15.7266 9.41797C15.082 8.85938 13.75 8.85938 13.1055 9.41797L12.7188 9.76172C12.332 10.1055 11.7734 9.80469 11.8594 9.33203C12.0312 8.21484 13.3203 7.52734 14.4375 7.52734C15.5117 7.52734 16.8438 8.21484 17.0156 9.33203C17.0586 9.80469 16.5 10.1055 16.1562 9.76172L15.7266 9.41797ZM7.08984 13.7578C8.07812 14.918 9.49609 15.5625 11 15.5625C12.5039 15.5625 13.8789 14.918 14.8672 13.7578C15.4258 13.0703 16.5 13.9297 15.8984 14.6602C14.6953 16.1211 12.8906 16.9375 11 16.9375C9.06641 16.9375 7.26172 16.1211 6.05859 14.6602C5.45703 13.9297 6.53125 13.0703 7.08984 13.7578Z"
                    fill="#FF0000" />
            </svg>
            <input type="text" placeholder="Aa" class="action__input">
            <svg class="action__send" width="23" height="23" viewBox="0 0 23 23" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M21.4531 0.921875L1.51562 12.3945C0.742188 12.8242 0.828125 13.9414 1.60156 14.2422L6.19922 16.1758L18.5312 5.30469C18.7461 5.08984 19.0898 5.39062 18.875 5.64844L8.5625 18.2383V21.7188C8.5625 22.75 9.76562 23.1367 10.3672 22.4062L13.1172 19.0547L18.4453 21.332C19.0469 21.5898 19.7773 21.2031 19.8633 20.5156L22.957 1.95312C23.1289 1.09375 22.1836 0.492188 21.4531 0.921875Z"
                    fill="#FF0000" />
            </svg>
        </div>
    </div>
</div>


{{#section 'script'}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>
<script src="/js/messagebox.js"></script>
<script src="/js/options.js"></script>
{{/section}}